@import "./utils/variables";
@import "./base/base";
@import "./utils/mixins";
@import "./components/book";
@import "./components/button";
@import "./components/footer";
@import "./components/header";
@import "./components/section";
@import "./components/skills";
@import "./components/cube";
@import "./components/modal";

body {
  margin: 0;
  font-family: "Courier Prime", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: $color-primary;
  &-container {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
  &-author {
    margin-top: 40px;
    padding: 0 10px;
    align-items: flex-end;
    @media (max-width: 1024px) {
      text-align: center;
    }
  }
}
