.book-container {
  /* border: 10px solid black; */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  padding: 40px;
  /*  height: 75vh; */
  box-sizing: border-box;
}

.book-grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  /*   grid-template-columns: repeat(3, 1fr); */
  gap: 20px;
}
.book-card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.book-card-img {
  width: 100%;
  height: 100%;
}
