.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  color: $color-quintary;
  /* background-color: $color-primary; */
  padding: 20px;
  width: 100%;
  height: auto;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
  &-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 2px solid black;
    padding: 40px;
    background-color: $color-tertiary;
    @media (max-width: 1024px) {
      align-items: center;
      text-align: center;
    }
  }
  &-nav {
    display: flex;
    flex-direction: row;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
}
