.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-radius: 40px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  &__introduction {
    margin-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    background-color: $color-sixtary;
    width: 100%;
    justify-content: center;
    &-img {
      padding: 20px;
      width: 30%;
      height: 40%;
      border-radius: 40px;
    }
    &-wrapper {
      width: 70%;
    }
    &-txt {
      font-size: 6rem;
      margin-right: auto;
      padding: 20px 40px;
      line-height: 1;
      @media (max-width: 1024px) {
        font-size: 3.5rem;
      }
      @media (max-width: 768px) {
        font-size: 1.5rem;
      }
    }
  }
  &__work {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: $color-secondary;
  }
  &__skills {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: $color-tertiary;
    &-wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      gap: 20px;
      padding: 0 20px 40px 40px;
      box-sizing: border-box;
      @media (max-width: 1024px) {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 20px 0 20px;
      }
    }
  }
  &__about {
    background-color: $color-sixtary;

    &-container {
      padding: 20px;
      display: flex;
      width: 80%;
      border: 3px solid black;
      border-style: dashed;
      margin: 20px;
      box-sizing: border-box;
    }
    &-txt {
      font-family: "Special Elite", cursive;
      margin: 0;
      font-size: 26px;
    }
  }
}
