.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  &__introduction {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    background-color: #aca593;
    border-radius: 40px;
    /* height: 30vh; */
    width: 100%;
    justify-content: center;
    /* @media (max-width: 768px) {
      height: 20vh;
    } */
    &-img {
      padding: 20px;
      width: 30%;
      height: 40%;
      border-radius: 40px;
    }

    &-wrapper {
      width: 70%;
    }
    &-txt {
      /*  margin: 20px auto 20px 0px; */
      font-size: 6rem;
      margin-right: auto;
      padding: 20px 40px;
      line-height: 1;
      @media (max-width: 1024px) {
        font-size: 3.5rem;
      }
      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }
  }
  &__work {
    display: flex;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: $color-secondary;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  &__skills {
    display: flex;
    border-radius: 40px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: $color-tertiary;
    &-wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      gap: 20px;
      padding: 0 20px 0 40px;
      box-sizing: border-box;
      @media (max-width: 1024px) {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }
}
