.skills {
  width: 75%;
  &__container {
    width: 100%;
    background-color: #ddd;
    &-item {
      color: white;
      text-align: right;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 40px;
      box-sizing: border-box;
    }
  }
}

.--html {
  width: 90%;
  background-color: #705216;
}
.--css {
  width: 80%;
  background-color: #705216;
}
.--js {
  width: 65%;
  background-color: #705216;
}
.--php {
  width: 60%;
  background-color: #705216;
}
