.skills-container {
  width: 75%;
}
.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.html,
.css,
.js,
.php {
  padding-right: 20px;
  box-sizing: border-box;
}
.html {
  width: 90%;
  background-color: #705216;
}
.css {
  width: 80%;
  background-color: #705216;
}
.js {
  width: 65%;
  background-color: #705216;
}
.php {
  width: 60%;
  background-color: #705216;
}
