h1 {
  display: flex;
  font-size: 20px;
  margin: 0;
  padding: 20px;
  font-weight: bold;
}

h2 {
  display: flex;
  font-size: 20px;
  margin: 0;
  padding: 20px;
  font-weight: bold;
  margin-right: auto;
  background-color: rgba(143, 101, 93, 0.4039215686);
  border-radius: 40px 0 40px 0px;
}

h3 {
  margin: 0;
  font-size: 20px;
}
@media (max-width: 1024px) {
  h3 {
    padding: 10px;
    height: auto;
    font-size: 16px;
  }
}

h4 {
  font-size: 4rem;
  font-weight: 400;
  margin: 40px 0px;
}
@media (max-width: 1024px) {
  h4 {
    font-size: 3rem;
  }
}

h5 {
  font-size: 20px;
  margin: 0;
  padding: 10px;
  padding-right: 0px;
  font-weight: normal;
  border: 2px solid white;
  border-right: none;
  /*  margin-right: auto; */
  /*  background-color: $color-quaternary; */
  border-radius: 10px;
}

.project-name {
  border: 2px solid #60460e;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  background-color: #60460e;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
}

.book {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /*  max-width: 1440px; */
  padding: 20px 20px 40px 20px;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .book {
    padding: 20px;
  }
}
.book img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.book__grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.book__card {
  display: flex;
  flex-direction: column;
  /*ForCube*/
  width: 600px;
  height: 600px;
  perspective: 400px;
}
.book__card:hover {
  animation: bouncingCard 300ms;
}
@media (max-width: 1024px) {
  .book__card {
    width: 300px;
    height: 300px;
  }
}

@keyframes bouncingCard {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.005);
  }
  100% {
    transform: scale(1);
  }
}
button {
  transition: transform 0.25s;
  background: none;
  color: inherit;
  border: none;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
button:hover {
  transform: scale(1.05);
  background: #60460e;
  color: white;
  border-radius: 8px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn-link {
  transition: transform 0.25s;
  background: none;
  color: inherit;
  border: none;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  color: #60460e;
}
.btn-link:hover {
  transform: scale(1.05);
  background: #60460e;
  color: white;
  border-radius: 8px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  color: #60460e;
  /* background-color: $color-primary; */
  padding: 20px;
  width: 100%;
  height: auto;
}
@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
  }
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 2px solid black;
  padding: 40px;
  background-color: rgba(41, 10, 0, 0.1647058824);
}
@media (max-width: 1024px) {
  .footer-right {
    align-items: center;
    text-align: center;
  }
}
.footer-nav {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1024px) {
  .footer-nav {
    flex-direction: column;
  }
}

.header {
  font-size: 20px;
  background-color: rgba(41, 10, 0, 0.1647058824);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 30px 0px;
  height: 100px;
  width: 100%;
  border-radius: 0 0 40px 40px;
}
.header-decoration {
  display: none;
}
@media (min-width: 1440px) {
  .header-decoration {
    display: flex;
  }
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    font-size: 16px;
  }
}
.header-nav {
  flex-wrap: wrap;
}
.header-nav a {
  text-decoration: none;
  color: black;
}
@media (max-width: 768px) {
  .header-nav {
    justify-content: center;
  }
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-radius: 40px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.section__introduction {
  margin-top: 30px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  background-color: #aca593;
  width: 100%;
  justify-content: center;
}
.section__introduction-img {
  padding: 20px;
  width: 30%;
  height: 40%;
  border-radius: 40px;
}
.section__introduction-wrapper {
  width: 70%;
}
.section__introduction-txt {
  font-size: 6rem;
  margin-right: auto;
  padding: 20px 40px;
  line-height: 1;
}
@media (max-width: 1024px) {
  .section__introduction-txt {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .section__introduction-txt {
    font-size: 1.5rem;
  }
}
.section__work {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: rgba(183, 133, 123, 0.2980392157);
}
.section__skills {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: rgba(41, 10, 0, 0.1647058824);
}
.section__skills-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px 0 40px;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .section__skills-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 20px 0 20px;
  }
}
.section__about {
  background-color: #aca593;
}
.section__about-container {
  padding: 20px;
  display: flex;
  width: 80%;
  border: 3px solid black;
  border-style: dashed;
  margin: 20px;
  box-sizing: border-box;
}
.section__about-txt {
  font-family: "Special Elite", cursive;
  margin: 0;
  font-size: 26px;
}

.skills {
  width: 70%;
  justify-content: flex-start;
}
.skills-title {
  text-align: left;
  font-size: 18px;
}
@media (max-width: 1024px) {
  .skills {
    width: 100%;
    justify-content: center;
  }
}
.skills__container {
  border-radius: 10px;
  width: 100%;
  background-color: #ddd;
}
.skills__container-item {
  border-radius: 10px 0 0 10px;
  color: white;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  box-sizing: border-box;
}
.skills-Two {
  width: 30%;
  display: flex;
  flex-direction: row;
}
.skills-Two-img {
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  /*  height: auto; */
  border-radius: 40px;
}
@media (max-width: 1024px) {
  .skills-Two {
    width: 50%;
  }
}

.--html {
  width: 90%;
  background-color: #705216;
}

.--css {
  width: 80%;
  background-color: #9e782b;
}

.--js {
  width: 70%;
  background-color: #50390a;
}

.--react {
  width: 65%;
  background-color: #564624;
}

.--redux {
  width: 60%;
  background-color: #998459;
}

.--sass {
  width: 70%;
  background-color: #b08021;
}

.--seo {
  width: 80%;
  background-color: #d49b29;
}

.cube {
  width: 600px;
  height: 600px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-300px);
  transition: transform 0.25s;
}
@media (max-width: 1024px) {
  .cube {
    width: 300px;
    height: 300px;
    transform: translateZ(-250px);
  }
}
.cube__face {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  border-radius: 20px;
  position: absolute;
  width: 600px;
  height: 600px;
}
@media (max-width: 1024px) {
  .cube__face {
    width: 300px;
    height: 300px;
  }
}
.cube__faceOne {
  opacity: 1;
  transform: rotateY(0deg) translateZ(300px);
}
@media (max-width: 1024px) {
  .cube__faceOne {
    transform: rotateY(0deg) translateZ(150px);
  }
}
.cube__faceOne-button {
  width: 150px;
  color: black;
  position: absolute;
  left: 225px;
  bottom: 10px;
  border-radius: 10px;
}
.cube__faceOne-button:hover {
  color: white;
}
@media (max-width: 1024px) {
  .cube__faceOne-button {
    left: 75px;
  }
}
.cube__faceTwo {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 40px 10px 50px 10px;
  transform: rotateX(-90deg) translateZ(300px);
}
@media (max-width: 1024px) {
  .cube__faceTwo {
    transform: rotateX(-90deg) translateZ(150px);
    padding-bottom: 30px;
  }
}
.cube__faceTwo-title {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding: 20px;
}
.cube__faceTwo-title-txt {
  padding: 10px 25px;
  border-radius: 20px;
  background-color: rgba(41, 10, 0, 0.1647058824);
}
@media (max-width: 1024px) {
  .cube__faceTwo-title-txt {
    padding: 5px 10px;
  }
}
.cube__faceTwo-byline {
  height: auto;
  width: 80%;
  margin: 0px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
  text-align: center;
}
.cube__faceTwo-tagList {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
  direction: ltr;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .cube__faceTwo-tagList {
    display: none;
  }
}
.cube__faceTwo-tagList-item {
  transition: transform 150ms;
  color: white;
  font-size: 12px;
  width: auto;
  padding: 10px;
  background-color: rgba(96, 70, 14, 0.6196078431);
  border-radius: 20px;
}
.cube__faceTwo-tagList-item:hover {
  transform: scale(1.05);
}
.cube__faceTwo-content {
  height: 60%;
  width: 100%;
  box-sizing: border-box;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  padding: 20px;
}
@media (max-width: 1024px) {
  .cube__faceTwo-content {
    padding: 10px;
    height: auto;
  }
}
.cube__faceTwo-content:hover {
  transform: scale(0.9);
}
.cube__faceTwo-content img {
  padding: 5px;
  background-color: #aca593;
  width: auto;
  height: auto;
}
@media (max-width: 1024px) {
  .cube__faceTwo-content img {
    display: none;
  }
}
.cube__faceTwo-content-modaltrigger {
  display: none;
  padding: 5px;
  margin: 20px;
  background-color: #e0d0c1;
  text-decoration: underline;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .cube__faceTwo-content-modaltrigger {
    display: flex;
    align-items: center;
    margin: 10px;
  }
}

.cube.show-front {
  transform: translateZ(-300px) rotateY(0deg);
}
@media (max-width: 1024px) {
  .cube.show-front {
    transform: translateZ(-150px) rotateY(0deg);
  }
}

.cube.show-bottom {
  transform: translateZ(-300px) rotateX(90deg);
}
@media (max-width: 1024px) {
  .cube.show-bottom {
    transform: translateZ(-150px) rotateX(90deg);
  }
}

.modal__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(41, 10, 0, 0.1647058824);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  gap: 20px;
}
@media (max-width: 768px) {
  .modal__head {
    flex-direction: column;
    gap: 20px;
  }
}
.modal__head-btnClose {
  right: 0;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.15);
}
.modal__head-btnClose:hover {
  background-color: red;
  font-size: 20px;
}
.modal__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
}
.modal__link-gitLink {
  transition: transform 0.25s;
  justify-content: center;
  width: 30%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(143, 101, 93, 0.4039215686);
  text-decoration: none;
  color: black;
  border: 2px solid #60460e;
}
.modal__link-gitLink:hover {
  transform: scale(1.05);
  background-color: #60460e;
  color: white;
}
.modal__link-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.modal__carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal__carousel-imgContainer {
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 65vh;
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .modal__carousel-imgContainer {
    margin-bottom: 40px;
    height: 45vh;
  }
}
@media (max-width: 768px) {
  .modal__carousel-imgContainer {
    margin-bottom: 20px;
    height: 35vh;
  }
}
.modal__carousel img {
  object-fit: cover;
  border-radius: 20px;
}
.modal__carousel-btnPrev {
  animation: giggle 300ms 1s 1 ease-in-out;
  border: 2px solid rgba(41, 10, 0, 0.1647058824);
  width: 25%;
  border-radius: 10px;
  background-color: rgba(143, 101, 93, 0.4039215686);
  padding: 20px;
  box-sizing: border-box;
}
.modal__carousel-btnNext {
  animation: giggle 300ms 1150ms 1 ease-in-out;
  border: 2px solid rgba(41, 10, 0, 0.1647058824);
  width: 25%;
  border-radius: 10px;
  background-color: rgba(143, 101, 93, 0.4039215686);
  padding: 20px;
  box-sizing: border-box;
}
.modal__carousel-description {
  margin: 10px 0;
  background-color: rgba(41, 10, 0, 0.1647058824);
  padding: 10px 40px 10px 40px;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .modal__carousel-description {
    padding: 8px;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Body--open {
  overflow: hidden;
}

@keyframes giggle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
  /*   60% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  } */
}
body {
  margin: 0;
  font-family: "Courier Prime", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  /*  background-color: $color-primary; */
  background: linear-gradient(90deg, #e0d0c1, rgba(183, 133, 123, 0.2980392157));
}
.App-container {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.App-author {
  margin-top: 40px;
  padding: 0 10px;
  align-items: flex-end;
}
@media (max-width: 1024px) {
  .App-author {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
